<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="jumbotron" style="background:url('https://cdn.pixabay.com/photo/2017/05/08/19/35/cyber-security-2296269_960_720.jpg')">
    <div class="container" id="jumbotron1">
    </div>
</section>




<body>
    <div class="container">
        <div class="table-wrapper">
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>Certificate ID</th>
                        <th>CommonName</th>
                        <th>Organization</th>
                        <th>Country</th>
                        <th>Email</th>
                        <th style="width: 15%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let certificate of certificates; let i = index">
                        <td>
                            {{certificate.id}}.
                        </td>
                        <td>
                            {{certificate.commonName}}
                        </td>
                        <td>
                            {{certificate.organization}}
                        </td>
                        <td>
                            {{certificate.country}}
                        </td>
                        <td>
                            {{certificate.email}}
                        </td>
                        <td>
                            <button (click)='viewCertificate(certificate.id)' type="button" class="btn btn-success">View</button>
                            <button (click)='revokeCertificate(certificate.id)' type="button" class="btn btn-danger">Revoke</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group" id="button">
                <button id="return" (click)="returnHome()" class="btn btn-success">Početna stranica</button>
            </div>
        </div>
    </div>
</body>