.container {
    padding-top: 7%;
    margin-top: 3px;
}

#buttons {
    text-align: center;
}

button {
    margin-right: 35%;
}

.background {
    height: 100px;
}

.jumbotron-heading {
    color: white;
}